<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table border=1>
    <thead>
        <tr>
            <th> Title </th>
            <th> Author </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${list}">
            <td><span th:text="${user.firstname}"> Title </span></td>
            <td><span th:text="${user.lastname}"> Author </span></td>
        </tr>
    </tbody>
</table></body>
</html>