<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Connexion</h5>
          <form role="form" (submit)="login()">
            <div class="form-group">
              <label for="username">Nom d'utilisateur:</label> <input type="text" class="form-control" id="username" name="username" [(ngModel)]="account.username"/>
            </div>
            <div>
              <label for="password">Mot de passe:</label> <input type="password" class="form-control" id="password" name="password" [(ngModel)]="account.password"/>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Inscription</h5>
          <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="form-group">
              <label for="firstname">Prénom</label>
              <input type="text" [(ngModel)]="professional.firstname"
                     class="form-control"
                     id="firstname"
                     name="firstname"
                     placeholder="Entrer votre prénom"
                     required #name="ngModel">
            </div>
            <div class="form-group">
              <label for="lastname">Nom</label>
              <input type="text" [(ngModel)]="professional.lastname"
                     class="form-control"
                     id="lastname"
                     name="lastname"
                     placeholder="Entrer votre nom"
                     required #name="ngModel">
            </div>
            <div class="form-group">
              <label for="job">Métier</label>
              <input type="text" [(ngModel)]="professional.job"
                     class="form-control"
                     id="job"
                     name="job"
                     placeholder="Entrer votre travail"
                     required #name="ngModel">
            </div>
            <button type="submit" [disabled]="!userForm.form.valid"
                    class="btn btn-primary">Créer un compte</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
