<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">firstname</th>
        <th scope="col">lastname</th>
        <th scope="col">job</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let professional of professionals">
        <td>{{ professional.firstname }}</td>
        <td>{{ professional.lastname }}</td>
        <td>{{ professional.job }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
